body {
  margin: 0px;
  color: rgb(45, 150, 76);
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header {
  margin-top: 0px;
  background-image: url("https://a.travel-assets.com/findyours-php/viewfinder/images/res70/248000/248709-Everland-Yongin.jpg");
  background-size: cover;
  height: 350px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header > h1,
h4 {
  color: white;
  border-radius: 10px;
}

#mascot {
  border: 5px solid #559aaf;
  border-radius: 50%;
  width: 150px;
}

.header-title {
  /* background: #4bbadb; */
  text-shadow: 1px 1px 10px rgb(65, 64, 28);
  border-radius: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.header-desc {
  margin-top: 6px;
  box-shadow: 0px 0px 10px white;
  background: #3b9c54;
  width: 400px;
  padding: 10px;
}

.activities-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 30px; */
  padding-bottom: 50px;
}
#activities-title {
  padding: 35px;
}
.activities {
  display: flex;
  gap: 20px;
}

.activities > div {
  width: 250px;
}

.activity-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #55af64;
}

.guide-section {
  background: rgb(252, 253, 199);
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guide-card {
  display: flex;
  background-color: #73d383;
  width: 500px;
  border-radius: 30px;
  padding: 20px;
  align-items: center;
  gap: 10px;
}
#guide-img {
  height: 200px;
  width: 150px;
  background: rgb(235, 255, 227);
  border: 3px solid #55af64;
  border-radius: 40%;
}
.guide-desc {
  background: rgb(255, 255, 241);
  padding: 15px;
  border-radius: 30px;
}

.guide-desc > h1 {
  border-bottom: 2px solid #3b9c54;
}
