body {
  color: #7da7e6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  margin: 0px;
}

.hero {
  background-image: url("images/universe.jpg");
  background-size: cover;
  padding: 50px 130px;

  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.apply-btn {
  color: #7da7e6;
  padding: 5px 10px;
  /* font-weight: bold; */
  background: white;
  border: none;
  font-weight: bold;
  font-family: inherit;
}
#title {
  text-shadow: 0px 0px 4px black;
}

#logo {
  width: 120px;
  background: white;
}

.underline {
  border-bottom: 4px solid white;
}
