body {
  /* background: blue; */
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url(https://media.istockphoto.com/id/2156865279/photo/dark-green-felt-background-of-suede-fabric-surface.jpg?s=612x612&w=0&k=20&c=WOz4LF61Jshp7AfZwCyLw5p1FA2y6yBKMtk7vdc49QI=);
  color: white;
  background-size: cover;
  font-weight: bold;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

button {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  border: none;
  font-weight: 900;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}
